/ index
.separator{style:"padding: 15px 0;"}
.container
	.carrusel-product
		.product
			.product__item
				%img{src:"assets/img/01.jpg", class:"img-fluid"}
			.product__item
				%img{src:"assets/img/02.jpg", class:"img-fluid"}
			.product__item
				%img{src:"assets/img/01.jpg", class:"img-fluid"}
			.product__item
				%img{src:"assets/img/02.jpg", class:"img-fluid"}
			.product__item
				%img{src:"assets/img/01.jpg", class:"img-fluid"}
			.product__item
				%img{src:"assets/img/02.jpg", class:"img-fluid"}

.separator{style:"padding: 15px 0;"}
.container
	.carrusel-galery
		.galery
			.galery__item
				%img{src:"assets/img/02.jpg", class:"img-fluid"}
			.galery__item
				%img{src:"assets/img/01.jpg", class:"img-fluid"}
			.galery__item
				%img{src:"assets/img/02.jpg", class:"img-fluid"}
			.galery__item
				%img{src:"assets/img/01.jpg", class:"img-fluid"}
			.galery__item
				%img{src:"assets/img/02.jpg", class:"img-fluid"}
			.galery__item
				%img{src:"assets/img/01.jpg", class:"img-fluid"}
